<div id="view6">
     	 		<div class="row" style="padding: 1%; background-color: #ffe680 ">
      				<div class='page-header'>
	           			<h2>
			  			<span id="numberOfGuests" style="padding: 2%"></span>
			  			<a href="#!/search" class='btn btn-warning pull-right' id="backFrom6Button" style="margin-right: 2%">Go Back & Edit Dinner</a>
						</h2>
          			</div>
				</div>
				<div class="row">
		        <div class="row recipe" style="margin-top: 5%; margin-left: 5%">
		        <div class="col-lg-1"></div>
		        <div class="col-lg-2" id="dishImage1"></div>
	            <div class="col-lg-3" id="dishDescription1"></div>
	            <div class="col-lg-5 lastDiv" id="dishPreparation1"></div>
	            <div class="col-lg-1"></div>
					</div>
				<div class="row recipe" style="margin-top: 5%; margin-left: 5%">
		        <div class="col-lg-1"></div>
		        <div class="col-lg-2" id="dishImage2"></div>
	            <div class="col-lg-3" id="dishDescription2"></div>
	            <div class="col-lg-5" id="dishPreparation2"></div>
	            <div class="col-lg-1"></div>
					</div>
				<div class="row recipe" style="margin-top: 5%; margin-left: 5%">
		        <div class="col-lg-1"></div>
		        <div class="col-lg-2" id="dishImage3"></div>
	            <div class="col-lg-3" id="dishDescription3"></div>
	            <div class="col-lg-5" id="dishPreparation3"></div>
	            <div class="col-lg-1"></div>
					</div>
        	</div>