

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->

	<div class="col-lg-3" id="sidebar">
		<h4>My Dinner</h4>
		<p>People: {{getNumberOfGuests()}}</p>
		<input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
		<table class="sidebarTable" id="sidebarTable">
			<tr>
				<th>Dish Name</th>
				<th>Cost</th>
			</tr>
			<div id="test"></div>
			<tr ng-repeat="item in menu track by $index">
			<td>{{item.title}}</td>
			<td>{{getDishPrice(item)*getNumberOfGuests()}}</td>
			</tr>
		</table>
		<div id="totalCost">Total cost {{getTotalMenuPrice()}}</div>
		<a href="#!/dinner-menu" class="btn-lg btn-warning centerBlock" id="confirmDinner">Confirm Dinner</a>
	</div>

<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->



