<div id="view6">
    <div class="row" style="padding: 1%; background-color: #ffe680 ">
      	<div class='page-header'>
	    	<h2>
				<span id="numberOfGuests" style="padding: 2%"></span>
				<a href="#!/search" class='btn btn-warning pull-right' id="backFrom6Button" style="margin-right: 2%">Go Back & Edit Dinner</a>
			</h2>
    	</div>
	</div>
	<div class="row recipe" ng-repeat="item in menu">
		<div class="col-lg-1"></div>
		<div class="col-lg-3"><img ng-src="{{item.image}}"></div>
		<div class="col-lg-2">
			{{item.title}}
		</div>
		<div class="col-lg-5">{{item.instructions}}</div>
	</div>
</div>