<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->

<div id="view1">
	<div id="firstpage">
		<div class="col-lg-4" id="introBox">
			<h3>A Home Dinner Service</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a aliquam urna. Pellentesque vitae risus sit amet orci fermentum efficitur. Sed leo purus, gravida id est sed, porta cursus libero. In tempus lectus in nulla feugiat maximus vel ac felis.</p>
			<p>Start quickly</p>
			<a href="#!/search" class="btn-lg btn-warning" id="createButton">Create new dinner</a>
		</div>
	</div>
</div>