body { 

	margin: 0;
	font-family: avenir;
}

#wrapper {

	width:100%;
}

#container {

	width: 99%;
	margin-left: 0px;
	margin-right: 0px;
}

/*CENTER TEXT*/

.centerText {
	text-align: center;
}

/*CENTER IMAGE*/

.centerBlock { 

	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*CENTER OTHER*/

.center {

	margin-left: auto;
	margin-right: auto;
}

/*BUTTONS*/

.btn-lg {

	width: 200px;
	margin-bottom: 20px;
}

/*CONTAINER*/

.container {

	width: 100%;
}

/*HEADER*/

small {

	font-style: italic;
}

/*VIEW 1*/

#firstpage {

	background-image: url("images/family.jpeg");
	background-repeat: repeat;
	height: 600px;
}

#introBox {

	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 250px;
	left: 50px;
	height: 60%;
}

#introBox h3 {

	border-bottom: solid 0.5px black;
	font-weight: normal;
}

/*VIEW 2*/

#numbPeople {

	width: 50px;
}

#peopleP {

	margin-top: 20px;
	font-weight: bold;
}

#sidebar {

	border: solid 1px black;
	height: 500px;
}

.sidebarTable {

	margin-top: 50px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	border-bottom: solid 1px black;
}

.sidebarTable td{

	width: 100%;
	height: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

.sidebarTable th {

	background-color: lightgrey;
	padding-left: 5px;
	padding-right: 5px;
}

#totalCost {

	float: right;
	margin-right: 5%;
}

#confirmDinner {

	margin-top: 100px;
}

/*View 3*/

#pageHeader {

	background-color: #ffe680;
	margin-top: 0px;
	margin-bottom: 40px;
	border-bottom: solid black 2px;
}

#pageHeader h4 {

	border-bottom: solid 0.5px black;
	padding: 10px;
}

.form-group {

	width: 200px;
}

.search {

	float: left;
	margin-left: 10px;
}

.imgContainer {

	width: 100%;
	height: 50%;
}

img {

	width: 100%;
}

.col-lg-3 {

	width: 24%;
}

/*VIEW 4*/

.imgDish img {

	width: 250px;
	height: 250px;
	margin-bottom: 10px;
}

#imageText {

	margin-bottom: 40px;
}

#ingredientsDiv {

	background-color: #ffe680;
	border: solid 1px black;
	padding: 10px;
	padding-bottom: 50px;
}

#ingredientsDiv h4 {

	border-bottom: solid 0.5px black;
	padding-bottom: 
}

.countTable {

	border-bottom: solid 1px black;
	margin-bottom: 30px;
}

.countTable td {

	padding: 10px;
}

.countTable td:nth-child(3) {

	width: 200px;
}

.selectButton {

	float: left;
}

.ingredientsCost {

	float: right;
}

.ingredientsCost p{

	float: left;
	margin-left: 20px;
}

p {
	font-family: Avenir;
}

#backToSelectButton {

	margin-top: 40px;
	margin-left: 15px;
}

#selectedDishes {

	width: 100%;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

/*VIEW 6*/

.recipe {

	margin-bottom: 40px;
}

#selectedDishes img{
	border-radius: 8px;
	width: 250;
	height: 250px;
	margin-top: 5%;
	margin-bottom: 5%;
}

#selectedDishes .col-lg-3{
	height: 300px;
	text-align: center;
	border: 5px solid;
	border-color: white;
	background-color: snow;
}

.dishSearch {

	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

img {

	width: 250px;
	height: 250px;
}